.menu
{
    width: 10vw;
    height: 80vh;
    background-color: cadetblue;
}

.menu > ul > li 
{
    list-style: none;
    width: 10vw;
    height: 5vh;
    text-align: center;
}

.menu > ul > li:hover 
{
    background-color: white;
}

.menu > ul > li > a 
{
    text-decoration: none;
}